@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @font-face {
//   font-family: "Raleway";
//   src: url("/assets/fonts/Raleway-Regular.ttf") format('truetype') "";
//   font-style: normal;
//   font-weight: normal;
// }

$body-font-family: "Raleway", sans-serif;
$heading-font-family: "Raleway", sans-serif;
$font-size-root: 14px;
$font-weights: (
                'thin': 100,
                'light': 300,
                'regular': 400,
                'medium': 500,
                'semibold': 600,
                'bold': 700,
                'black': 900
              );

// System Colors
$primary:       #F45A0C !important;
$primary-hover: #EA5409 !important;
$secondary:     #2A486E !important;
$white:         #FFFFFF !important;
$black:         #2B2B2B !important;
$gray:          #6F6E6E !important;
$gray-light:    #F4F4F4 !important;

$border-radius-root: 25px;
$box-shadow-root: 0px 4px 20px rgba(0, 0, 0, 0.1) !important; //custom

$btn-border-radius: none;

$text-field-border-radius: 8px;

$expansion-panel-border-radius: none;
$expansion-panel-header-font-size: 1rem;
$expansion-panel-content-padding: 0 20px 0 56px;
$expansion-panel-header-padding: 17px 22px 17px 24px;
// $expansion-panel-header-padding: 17px 22px 17px 32px;

// Navigation panel
$navigation-panel-text-color: #FFFFFF !important;

$data-table-border-radius: 0;
$data-table-regular-row-font-size: 1rem;
$data-table-regular-row-height: 40px;