html {
  overflow-y: auto !important;
}

.viewport-card {
	display: flex;
	height: 100vh;
	background-color: $primary;

	&__card {
		box-shadow: $box-shadow-root;
		margin: auto;
	}

	&__title {
		text-transform: uppercase;
		padding-bottom: 0 !important;

		p{
			margin: auto !important;
		}
	}
}